$footer-height: 60px


html
  position: relative 
  min-height: 100%

  
body
  margin-bottom: $footer-height

  
.footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  background-color: #f5f5f5
  
  p
    margin: 20px 0
  
.search
  .input-group
    //width: 400px  
    
.lecture
  .thumbnail
    margin-bottom: 0
  h3
    margin-top: 0
  .listened
    color: green