<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="lecture-summary">
      <div class="panel panel-default lecture lecture-summary">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <a th:href="@{${@ui.lectureUrl(lecture)}}" class="thumbnail">
                <img src="http://lorempixel.com/400/200" alt="TODO" />
              </a>
            </div>
            <div class="col-sm-9">
              <h3>
                <a th:href="@{${@ui.categoryUrl(lecture.category)}}"><span th:text="${lecture.category.name}" class="label label-default"></span></a> 
                <a th:href="@{${@ui.lectureUrl(lecture)}}" th:text="${lecture.name}"></a> <span class="glyphicon glyphicon-ok listened"></span>
              </h3>
              <div class="row">
                <div class="col-sm-4">
                  <p><a th:href="@{${@ui.lecturerUrl(lecture.lecturer)}}" class="lecturer" th:text="${lecture.lecturer.name}"></a></p>
                </div>
                <div class="col-sm-4">
                  <p><span class="glyphicon glyphicon-calendar"></span> <span th:text="@{${@formatter.date(lecture.added)}}"></span></p>
                </div>
              </div>
              <p th:text="${lecture.description}"></p>
              <div class="row">
                <div class="col-sm-4">
                  <input id="input-id" name="input-name" type="number" class="rating" min="1" max="5" step="1" data-size="xs" data-show-caption="false" /> 
                </div>
                <div class="col-sm-4">
                  Clicks
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-time"></span> <span th:text="${@formatter.duration(lecture.duration)}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div th:fragment="lecture-list (lectures)" th:each="lecture : ${lectures}" th:include="fragments/lecture-summary :: lecture-summary" th:with="lecture=${lecture}" th:remove="tag"></div>
  </body>
</html>