<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="search-input" class="container">
      <form class="form-inline search">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Search for..." />
          <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
  </body>
</html>