<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="search-input" class="container">
      <form th:attr="action=@{${@ui.URL_SEARCH}}" class="form-inline search">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="q" placeholder="Search for..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <div th:if="!${searchFieldOnly}"  class="input-group input-group-lg">
          <span class="input-group-addon">Sort by</span>
          <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span th:text="${searchCurrentOrder}"></span> <span class="caret"></span></button>
		        <ul class="dropdown-menu">
					    <li th:each="order : ${searchOrders}"><a th:href="@{${searchPath}(q=${searchQuery},orderby=${order.value})}"  th:attr="data-value=${order.value}" th:text="${order.name}"></a></li>
		        </ul>
		      </div>
        </div>
        <div th:if="!${searchFieldOnly}" class="btn-group" data-toggle="buttons">
				  <label class="btn btn-default btn-lg">
				    <input type="radio" name="order" id="decending" autocomplete="off" checked="checked"/><span class="glyphicon glyphicon-chevron-up"/>
				  </label>
				  <label class="btn btn-default btn-lg">
				    <input type="radio" name="order" id="ascending" autocomplete="off"/><span class="glyphicon glyphicon-chevron-down"/>
				  </label>
				</div>
      </form>
    </div>
  </body>
</html>