<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>This is title</title>
</head>
<body>
  <div layout:fragment="content">
    <div th:replace="fragments/search :: search-input"></div>
    <div class="container">
      <h1>Categories</h1>
      <!-- add search fragment here -->
      
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${firstMainCat.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${firstMainCatLectures})"></div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${secondMainCat.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${secondMainCatLectures})"></div>
        </div>
      </div>
      <h2>More Categories</h2>
      <div class="panel panel-default">
        <ul class="list-group">
          <a th:each="category : ${categoryList}" th:href="@{${@ui.categoryUrl(category)}}" class="list-group-item">
            <span th:text="${category.name}"></span> 
            <span th:text="${category.amount}" class="badge"></span>
          </a>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>