<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Welcome</title>
</head>
<body>
<div layout:fragment="content">
  <div th:replace="fragments/search :: search-input"></div>
  <div class="container">   
    <h2>Recently Added</h2>
    <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${recentLectures})"></div>
  </div>
  <div class="secondary-background">     
    <div class="container">
      <h2>Popular</h2>
      <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${popularLectures})"></div>
    </div>  
  </div>
  <div class="container"> 
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Popular Categories</div>
          <ul class="list-group">
            <a th:each="popularCategory : ${popularCategories}" th:href="@{${@ui.categoryUrl(popularCategory)}}" class="list-group-item">
              <span th:text="${popularCategory.name}"></span> 
              <span th:text="${popularCategory.amount}" class="badge"></span>
            </a>
          </ul>
          <div class="panel-footer"><a th:href="@{${@ui.URL_CATEGORIES}}">Show all <span class="glyphicon glyphicon-chevron-right"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Popular Lecturers</div>
          <ul class="list-group">
            <a th:each="popularLecturer : ${popularLecturers}" th:href="@{${@ui.lecturerUrl(popularLecturer)}}" class="list-group-item">
              <span th:text="${popularLecturer.name}"></span> 
              <span th:text="${popularLecturer.amount}" class="badge"></span>
            </a>
          </ul>
          <div class="panel-footer"><a th:href="@{${@ui.URL_LECTURERS}}">Show all <span class="glyphicon glyphicon-chevron-right"></span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>