<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    
    <title>Growth Lectures</title>

    <!-- Bootstrap & app styles -->
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.min.css" integrity="sha256-lEeKmgh2BTAHXA4sa35BJjOmkZlk0wekn+WNoJjQBhs=" crossorigin="anonymous" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{${@ui.URL_INDEX}}">Growth Lectures</a>
        </div>
    
        <div class="collapse navbar-collapse" id="topnav">
          <ul class="nav navbar-nav">
            <li><a th:href="@{${@ui.URL_CATEGORIES}}">Categories</a></li>
            <li><a th:href="@{${@ui.URL_LECTURERS}}">Lecturers</a></li>
          </ul>  
          <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right"> 
            <li><a th:href="@{${@ui.URL_LOGIN}}">Login</a></li>
            <li><a th:href="@{${@ui.URL_REGISTER}}">Register</a></li>
          </ul>
          <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right"> 
            <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a th:href="@{${@ui.URL_LOGOUT}}">Logout</a></li>
		          </ul>
		        </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div layout:fragment="content"></div>
    
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.min.js" integrity="sha256-DZhNCQgX4NPuDmqopgSyBmCxqmrFiGRniU90iKLVh0k=" crossorigin="anonymous"></script>
    <script src="/assets/script.js"></script>
    <div layout:fragment="scripts" th:remove="tag"></div>
  </body>
</html>