<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>This is title</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      <h1>Lecturers</h1>   
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${firstMainLecturer.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${firstMainLecturerLectures})"></div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${secondMainLecturer.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${secondMainLecturerLectures})"></div>
        </div>
      </div>
      <h2>More Lecturers</h2>
      <div class="panel panel-default">
        <ul class="list-group">
          <a th:each="lecturer : ${lecturerList}" th:href="@{${@ui.lecturerUrl(lecturer)}}" class="list-group-item">
            <span th:text="${lecturer.name}"></span> 
            <span th:text="${lecturer.amount}" class="badge"></span>
          </a>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>