<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>This is title</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      <div style="float: right;" sec:authorize="hasRole('MODERATOR')">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-lecturer-modal"><span class="glyphicon glyphicon-plus"></span> Create new lecturer</button>
      </div>
      <h1>Lecturers</h1>
      <!-- add search fragment here -->
      
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${firstMainLecturer.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${firstMainLecturerLectures})"></div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h3 th:text="${secondMainLecturer.name}"></h3>
          <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${secondMainLecturerLectures})"></div>
        </div>
      </div>
      <h2>More Lecturers</h2>
      <div class="panel panel-default">
        <ul class="list-group">
          <a th:each="lecturer : ${lecturerList}" th:href="@{${@ui.lecturerUrl(lecturer)}}" class="list-group-item">
            <span th:text="${lecturer.name}"></span> 
            <span th:text="${lecturer.amount}" class="badge"></span>
          </a>
        </ul>
      </div>
    </div>
    
    <div class="modal fade" id="create-lecturer-modal" tabindex="-1" role="dialog" sec:authorize="hasRole('MODERATOR')">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="newLecturer" th:object="${newLecturer}" th:action="@{${@ui.URL_LECTURERS}}" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">New lecturer</h4>
            </div>
            <div class="modal-body">
              <div id="new-lecturer-success" class="alert alert-success hidden">
                <button type="button" id="close-success-alert" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                The lecturer has been created successfully. It can be watched <a id="new-lecturer-link" href="">here</a>.
              </div>
              <div id="new-lecturer-errors" class="alert alert-danger hidden"></div>
              <div class="form-group">
                <label for="input-lecturer-title">Title</label>
                <input th:field="*{name}" type="text" class="form-control" id="input-lecturer-title" placeholder="" />
              </div>
              <div class="form-group">
                <label for="input-lecturer-title">Slug</label>
                <input th:field="*{slug}" type="text" class="form-control" id="input-lecturer-slug" placeholder="" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input id="new-lecture-submit" type="submit" name="input-lecturer-submit" value="Add lecturer" class="btn btn-success" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div layout:fragment="scripts">
    <script src="/assets/addNewLecturer.js" sec:authorize="hasRole('MODERATOR')"></script>
  </div>
</body>
</html>