<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>This is title</title>
</head>
<body>
  <div layout:fragment="content">
    <div th:replace="fragments/search :: search-input"></div>
	  <div class="container">
      <h1 th:text="${lecturer.name}"></h1>
		  <!-- add search fragment here -->
      <div th:replace="fragments/lecture-summary :: lecture-list (lectures = ${searchResults})"></div>
    </div>
	</div>
</body>
</html>