$footer-height: 60px;
$secondary-background: #f5f5f5;
$border-color: #ddd;


html {
  position: relative;
  min-height: 100%;
}
  
body {
  margin-bottom: $footer-height;
}

.secondary-background {
  background-color: $secondary-background;
  box-shadow: 0 0 8px #c5c5c5 inset;
  margin-bottom: $line-height-computed;
}
  
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  box-shadow: 0px -1px 1px $secondary-background;
  border-top: 1px $border-color solid;
  
  p {
    margin: 20px 0;
  }
}
  
.search {
  .input-group {
  } 
}   

.lecture {
  .listened {
    color: green;
  }
  .lecturer {
    font-weight: bold;
  }
}

.lecture-summary {
  .thumbnail {
    margin-bottom: 0;
  }  
  h3 {
    margin-top: 0;
  }

}

.lecture-full {
  h1 {
    line-height: 125%; 
  }
  .embed-responsive {
    margin-top: 15px;
  }
  .additional-information {
    margin-top: 5px;
  }
  .added-date {
    text-align: right;
  }
  .lecture-video-frame {
    margin: 5px 0 10px 0;
  }
}

.content-panel {
	@media (min-width: $screen-md-min) {
	  margin-top: 170px;
	}
}
